table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
table,td,th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 130px;
}
img{
    height: 100px;
    width: 80px;
}

td i{
    padding: 10px;
}